.logo{
    height: 34px;
}
.formMessage{
    text-align: center;
    line-height: 40px;
    background-color: rgb(207, 50, 50);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.close-button{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: #d9534f;
}

.edit-button{
    position: absolute;
    right: 22px;
    color: white;
    top: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #3276b1;
}
.edit-button,.close-button{
    display: none;
    height: 20px;
    width: 19px;
    text-align: center;
    font-size: 13px;
    padding-top: 1px;
    border-radius: 3px;
}
.formField:hover .edit-button{
    display: block;
}
.formField:hover .close-button{
    display: block;
}
.formField{
    position: relative;
}
.custom-fields-cont .formField:hover{
    background-color: #ECECEC;
}
.field-checkboxes,.field-radios,.field-select{
    position: relative;
}
.tab-pane{
    padding-top: 30px;
}
.add-button{
    float: right;
}
.add-button i{
    margin-right: 6px;
}
.margin-top-5
{
	margin-top: 5px !important;
}