.logo{
    height: 34px;
}
.error-box{
    text-align: center;
    line-height: 40px;
    color: rgb(99, 77, 77);
    cursor: pointer;
    border-left: 4px solid;
    background-color: #FFD2D2;
    border-color: #FF6C69;
}
.close-button{
    position: absolute;
    right: 4px;
    top: -6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: #d9534f;
}

.edit-button{
    position: absolute;
    right: 22px;
    color: white;
    top: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #3276b1;
}
.edit-button,.close-button{
    display: none;
    height: 20px;
    width: 19px;
    text-align: center;
    font-size: 13px;
    padding-top: 1px;
    border-radius: 3px;
}
.formField:hover .edit-button{
    display: block;
}
.formField:hover .close-button{
    display: block;
}
.formField{
    position: relative;
}
.custom-fields-cont .formField:hover{
    background-color: #ECECEC;
}
.field-checkboxes,.field-radios,.field-select{
    position: relative;
}
.tab-pane{
    padding-top: 30px;
}
.add-button{
    float: right;
}
i{
    margin-right: 6px;
}
.edit-button i,.close-button i{
    margin-right: 0;
}
.padding-0{
    padding: 0 !important;
}
.padding-10{
    padding: 10px !important;
}
.padding-left-10{
    padding-left: 10px !important;
}
.padding-bottom-15{
    padding-bottom: 15px !important;
}
.content-box-large{
    position: relative;
}
.top-right-abs{
    position: absolute;
    top: 10px;
    right: 10px;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
}
.loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.8;
    display: none;
}
.btn-xs{
    margin: 3px;
}
#stats-box{
    margin-top: 30px;
}
td{
    text-align: center;
}
.user-details-table tbody tr td:first-child{
    font-weight: bold;
}
.float-right{
    float: right;
}
.margin-top-5{
    margin-top: 5px !important;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.addstagedropdown
{
	position:absolute;
	right:20px;
	top:3px;
}

#addstagedropdownul
{
	left:-55px;
}

.rightbuttons
{
	position:absolute;
	right:20px;
	top:-1px;
}

.addrecall
{
	margin: 0 0 0 5px;
}

#stagetimeline
{
	height:60px;width:1090px;position:relative;
}

#prepregstage
{
	height:30px;width:327px;float:left;
}

#postpregstage
{
	height:30px;width:762px;float:left;
}

.stype_seperator
{
	height:30px;width:1px;background:#000;float:left;
}

.moncont
{
	position:relative;float:left;
}

.weekcont
{
	float:left;
}

.daycont
{
	height:30px;
	float:left;
	background:#000;
}

.mon_marker
{
	position:absolute;top:30px;right:0px;z-index:10;
}

.mon_marker_tick
{
	position:relative;border-right:1px solid #ccc;
}

.mon_marker_count
{
	position:relative;font-size:10px;left:3px;
}

.stage_sep_cont
{
	position:absolute;
}

.stage_sep_tick
{
	position:relative;
	border-left:1px solid #ccc;
}

.stage_sep_count
{
	position:relative;font-size:10px;
	padding:2px;
	font-weight:bold;
}

.stage_sep_count_odd
{
	top:-25px;
}

.stage_sep_count_odd .stage_sep_tick
{
	height:7px;
}

.stage_sep_count_even
{
	top:30px;
}

.stage_sep_count_even .stage_sep_tick
{
	height:45px;
}

.stage_sep_count:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.stage_sep_count:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: inherit;
	border-width: 9px;
	margin-top: -9px;
}